<h1>About</h1>

<p>Here is a cool quote I enjoy:</p>
<div>
  <p>

    "The grass is greener when you water it."

    <!-- {{model.animal}}tried making a cool img generator, wasn't really working -->
  </p>
</div>
{{outlet}}
