<header>
  <h1>Midterm Part 2</h1>
</header>
<nav>
  {{#link-to "index"}}
  Part 2 |
  {{/link-to}}
  {{#link-to "about"}}
   About
  {{/link-to}}
</nav>
{{outlet}}
<footer>
Created October 19, 2018 &copy; ITP
</footer>
